# LISTS

In [1]:
l = list(range(-4,4))
l

[-4, -3, -2, -1, 0, 1, 2, 3]

In [2]:
l = list('abcde') 
l

['a', 'b', 'c', 'd', 'e']

In [3]:
l*3

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']

In [4]:
for x in l:
    print(x,end = "")

abcde

In [5]:
'a' in l

True

In [6]:
l.extend([5,6,7])
l

['a', 'b', 'c', 'd', 'e', 5, 6, 7]

In [7]:
l.append([4,5,6])
l

['a', 'b', 'c', 'd', 'e', 5, 6, 7, [4, 5, 6]]

In [8]:
l

['a', 'b', 'c', 'd', 'e', 5, 6, 7, [4, 5, 6]]

In [9]:
l.remove([4,5,6])

In [102]:
l

[1, 2, 3, 45, 6, 87, 54, 51]

In [11]:
l.remove([4,5,6])
l

ValueError: list.remove(x): x not in list

In [ ]:
l.insert(1,'j')

In [ ]:
l

In [ ]:
l.index('a')

In [ ]:
l.count('a')

In [ ]:
l = ['a','k','g','a']
l.sort()
l

In [ ]:
l.append(5)
l.sort()

In [ ]:
del l[0]
l

In [ ]:
del l[0:2]
l

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]
l[1:4] = []
l

In [ ]:
l[1:4] = ['a','b','c']

In [ ]:
l

In [ ]:
l = [x**3 for x in [1,2,3,4,5,6,7]]
l

In [ ]:
list(map(ord,'spam'))

In [ ]:
l = [[],1,2,3]
l

In [ ]:
l[0]

In [ ]:
[1,2]*3

In [ ]:
[1,2,3] + 'asc'

In [ ]:
[1,2,3] + list('abc')

In [ ]:
[1,2,3] + 55

In [ ]:
a = [1,2,3] + list(str(34))
a

In [ ]:
for x in a:
    if type(x) is str:
        x = int(x)

In [ ]:
a

In [ ]:
result = [x * 2 for x in 'abc']
result

In [ ]:
result = []
for x in 'abc':
    result.append(x * 2)
    
result

In [ ]:
list(map(abs, [-1, -2, 0, 1, 2]))

In [ ]:
l = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
l[0][0]

In [12]:
l = ['a','B','d','a']
l.append('spam')
l

['a', 'B', 'd', 'a', 'spam']

In [13]:
l.sort()
l

['B', 'a', 'a', 'd', 'spam']

In [19]:
l.sort(reverse = True)

In [20]:
r = l

In [21]:
r

['spam', 'd', 'a', 'a', 'B']

In [25]:
l.sort()
d = l

In [26]:
d

['B', 'a', 'a', 'd', 'spam']

In [27]:
l.sort(key=str.lower)

In [28]:
l

['a', 'a', 'B', 'd', 'spam']

In [29]:
k = sorted(l, key=str.lower,reverse = True)
k

['spam', 'd', 'B', 'a', 'a']

In [30]:
l

['a', 'a', 'B', 'd', 'spam']

In [31]:
h = sorted([x.upper() for x in l])
h

['A', 'A', 'B', 'D', 'SPAM']

In [32]:
l

['a', 'a', 'B', 'd', 'spam']

# Dictionary

In [33]:
d = {}

In [35]:
d = {'a':1, 'b':2}
d

{'a': 1, 'b': 2}

In [36]:
d = {'dict':{'a':1}, 'a':2}
d

{'a': 2, 'dict': {'a': 1}}

In [37]:
d = dict(name = 'Jon', lastname = "Smith", age = 45)
d

{'age': 45, 'lastname': 'Smith', 'name': 'Jon'}

In [38]:
d = dict(zip(['a','b','c'],[1,2,3]))
d

{'a': 1, 'b': 2, 'c': 3}

In [39]:
d = dict.fromkeys(['a', 'b'])
d

{'a': None, 'b': None}

In [40]:
d = dict(zip(['a','b','c'],[1,2,3]))
d['a']

1

In [41]:
d = {'dict':{'a':1}, 'a':2}
d['dict']['a']

1

In [42]:
'dict' in d

True

In [43]:
d.keys()

dict_keys(['a', 'dict'])

In [44]:
d.values()

dict_values([2, {'a': 1}])

In [45]:
d.items()

dict_items([('a', 2), ('dict', {'a': 1})])

In [46]:
d_copy = d.copy()
d_copy

{'a': 2, 'dict': {'a': 1}}

In [52]:
d.get('a',0)

2

In [53]:
d.update(d_copy)

In [54]:
d

{'a': 2, 'dict': {'a': 1}}

In [55]:
d['b'] = 'b'

In [56]:
d

{'a': 2, 'b': 'b', 'dict': {'a': 1}}

In [57]:
d_copy['c'] = 55

In [58]:
d.update(d_copy)
d

{'a': 2, 'b': 'b', 'c': 55, 'dict': {'a': 1}}

In [59]:
len(d)

4

In [60]:
l = list(d.keys())
l

['a', 'dict', 'c', 'b']

In [61]:
d.keys() & d_copy.keys()

{'a', 'c', 'dict'}

In [66]:
d = {x:x**2 for x in range(10)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [69]:
d[0] = [1,2,3]
d[5] = 'WWWWWWWWWWWWWWWWWW'
d

{0: [1, 2, 3],
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 'WWWWWWWWWWWWWWWWWW',
 6: 36,
 7: 49,
 8: 64,
 9: 81}

In [70]:
d['new'] = 'NEW'
d

{0: [1, 2, 3],
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 'WWWWWWWWWWWWWWWWWW',
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 'new': 'NEW'}

In [71]:
del d['new']
d

{0: [1, 2, 3],
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 'WWWWWWWWWWWWWWWWWW',
 6: 36,
 7: 49,
 8: 64,
 9: 81}

In [72]:
l = [1,2,3,45,6,87,54,51,321]
l.pop()

321

In [74]:
table = {
    'Python': 'Guido van Rossum',
    'Perl': 'Larry Wall',
    'Tcl': 'John Ousterhout'
}

language = 'Python'
table[language]

'Guido van Rossum'

In [76]:
for lang in table:
    print(lang,'\t',table[lang])

Tcl 	 John Ousterhout
Perl 	 Larry Wall
Python 	 Guido van Rossum

In [77]:
matrix = {}
matrix[(2, 3, 4)] = 88
matrix[(7, 8, 9)] = 99
matrix

{(2, 3, 4): 88, (7, 8, 9): 99}

In [80]:
x = 2
y = 3
z = 4
matrix[(x,y,z)]

88

In [81]:
m = {
    'name':'Mark',
    'jobs':['trainer','writer'],
    'home':{'state':'IL', 'zip':80513}
}
m['name']

'Mark'

In [82]:
m['jobs']

['trainer', 'writer']

In [83]:
m['home']['state']

'IL'

In [84]:
d = dict.fromkeys(['a','b'],1)
d

{'a': 1, 'b': 1}

In [85]:
d = dict(zip(['a','b','c'],[1,2,3]))
d

{'a': 1, 'b': 2, 'c': 3}

In [88]:
d = {k:v for (k,v) in zip(['a','b','c'],[1,2,3])}
d

{'a': 1, 'b': 2, 'c': 3}

In [90]:
d = {x.lower(): x.upper()+ '!' for x in ['one','two','three']}
d

{'one': 'ONE!', 'three': 'THREE!', 'two': 'TWO!'}

In [91]:
k = d.keys()

In [92]:
v = d.values()

In [93]:
list(k)

['one', 'two', 'three']

In [94]:
list(v)

['ONE!', 'TWO!', 'THREE!']

In [95]:
print(k)

dict_keys(['one', 'two', 'three'])

In [96]:
k

dict_keys(['one', 'two', 'three'])

In [99]:
dict.fromkeys(['a','b'],0)

{'a': 0, 'b': 0}

In [100]:
dict(a=0,b=0)

{'a': 0, 'b': 0}

In [101]:
{k:0 for k in ['a','b']}

{'a': 0, 'b': 0}

# TUPLES

In [105]:
t =(0,)
t

(0,)

In [106]:
t = (0, 'a', 1.2, 6)

In [107]:
t = 0, 'a', 1.2, 6

In [108]:
t = ('a',('a','b','c'),5)

In [109]:
t = tuple('spam')
t

('s', 'p', 'a', 'm')

In [111]:
t[1:3]

('p', 'a')

In [112]:
t

('s', 'p', 'a', 'm')

In [113]:
t1 = (5,6,8)
t + t1

('s', 'p', 'a', 'm', 5, 6, 8)

In [114]:
t1 * 5

(5, 6, 8, 5, 6, 8, 5, 6, 8, 5, 6, 8, 5, 6, 8)

In [122]:
for x in t:
    print(x,end = " ")

s p a m

In [124]:
t2 = (x for x in t1)
print(t2)

<generator object <genexpr> at 0x7f39d07e0a40>

In [125]:
5 in t1

True

In [126]:
[x for x in t]

['s', 'p', 'a', 'm']

In [127]:
t.index('p')

1

In [128]:
t.count('s')

1

In [129]:
t

('s', 'p', 'a', 'm')

In [130]:
l = list(t)
l

['s', 'p', 'a', 'm']

In [131]:
l[1] = "abc"
t = tuple(l)
t

('s', 'abc', 'a', 'm')

In [132]:
t = (1, [2, 3], 4)
t[1] = 'abc'

TypeError: 'tuple' object does not support item assignment

In [135]:
t[1][0] = "abc"
t

(1, ['abc', 3], 4)